body{
    background-image: url("bg13.jpg");
}
h1{
    font-size: 30px;
    color: white;
    font-style: italic;
    text-decoration: ;
}


table,th,td
{
    color: lightskyblue;
    border:none;
    
}
.img{
border-radius: 10px 10px 10px 10px;
border: 1px solid;
padding: 10px;
box-shadow: 5px 10px black

}